/*Color palette inspiration
https://refactoringui.com/previews/building-your-color-palette/?fbclid=IwAR0b7SnR-aIngxCNM6hNsux6grGKFsl-NT4LLGdRCCm_g7ZN7YGW9kfvG8g
*/

:root {
    --heading-font: 'Major Mono Display', monospace;
    --main-font: 'Montserrat', sans-serif;
    --main-font-weight: 200;
    --dark-grey: rgba(0, 0, 0, 0.75);
    --box-border: 3px solid #444444;
    --main-colour-100: #FFD6E3;
    --main-colour-200: #FFBDD2;
    --main-colour-300: #FFA3C1;
    --main-colour-400: #FF8AB0;
    --main-colour-500: #FF719F;
    --main-colour-600: #E3648D;
    --main-colour-700: #C7587D;
    --main-colour-800: #AC4C6B;
    --main-colour-900: #8E3E58;
    --main-colour-transparent: rgba(41, 14, 27, 0.8);
    --main-background: #fbfbfb;
    /*--main-colour-transparent: rgba(204, 83, 133, 0.9);*/
}

body {
    margin: 0;
    padding: 0;
    text-align: center;
}

html {
    font-family: var(--main-font);
    background-image: linear-gradient(var(--main-background), #ffebef);
    background-size: contain;
    background-attachment: fixed;
    background-repeat: no-repeat;
    word-wrap: break-word;
}

main {
    display: inline-block;
    max-width: 1200px;
    position: relative;
}

a {
    text-decoration: none;
    color: var(--dark-grey)
}

h1 {
    font-size: 3rem;
    font-weight: var(--main-font-weight);
    margin: 30px;
    font-family: var(--heading-font);
    text-transform: lowercase;
    color: var(--main-colour-800);
}

h2 {
    font-size: 2rem;
    font-weight: var(--main-font-weight);
    color: var(--main-colour-800);
    margin-bottom: 15px;
    margin-top: 0;
}

h3 {
    color: var(--main-colour-800);
    font-size: 1rem;
}

p {
    line-height: 1.5rem;
}

.lone_link {
    text-decoration: underline;
    color: var(--main-colour-800);
}

/*------- FRONT PAGE -------*/

.frontpage_title {
    font-size: 4rem;
    line-height: 4rem;
    font-family: var(--heading-font);
    color: var(--dark-grey);
    margin-bottom: 50px;
}

.frontpage_title:first-child {
    margin-bottom: 0;
}

.frontpage {
    margin-top: 40vh;
    height: 60vh;
    width: 100vw;
}

.frontpage__button {
    font-family: var(--heading-font);
    text-transform: lowercase;
    display: inline-block;
    border: 1px solid var(--dark-grey);
    padding: 7px;
    margin: 10px;
    font-size: 1.5rem;
    transition: background-color 0.3s ease-out;
    box-shadow: 1px 1px 5px #b8b8b8;
}

.frontpage__button:hover {
    background-color: var(--main-colour-700);
}

/*------- HEADER -------*/

header {
    display: inline-block;
    text-align: left;
    align-items: left;
    width: 100%;
    max-width: 1200px;
}

.header_line {
    display: inline-block;
    background-color: var(--main-colour-300);
    height: 5px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    z-index: 100;
}

.page_heading {
    margin: 80px 80px 40px 0;
}

.page_title a {
    font-size: 3rem;
    font-family: var(--heading-font);
    line-height: 3rem;
    color: var(--dark-grey);
}

.page_title_bottom {
    border-bottom: 1px solid var(--dark-grey);
    max-width: 420px;
    height: 0;
    margin-top: 40px;
}

nav {
    text-align: center;
    margin-bottom: 20px;
}

.nav_item {
    font-family: var(--heading-font);
    display: inline-block;
    border: 1px solid var(--main-colour-300);
    padding: 7px;
    margin: 10px;
    text-transform: lowercase;
    font-size: 1.5em;
    transition: background-color 0.3s ease-out;
    box-shadow: 1px 1px 5px #b8b8b8;
}

.nav_item:hover {
    background-color: var(--main-colour-700);
}

/*-------- FOOTER --------*/

footer {
    margin: 20px 0;
    color: var(--dark-grey)
}


/*-------- MAIN --------*/

.content {
    /*margin: 40px;*/
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


/*-------- ABOUT --------*/

.about_item {
    position: relative;
    font-family: var(--heading-font);
    flex: 1;
    flex-basis: 360px;
    max-width: 360px;
    margin: 13px;
    box-shadow: 5px 5px 15px #919191;
    font-size: 1.5em;
    background-color: rgba(253, 253, 253, 0.50);
}

.about__title {
    text-transform: lowercase;
    margin: 20px 0;
}

.about_item img {
    width: 100%;
    opacity: 0.95;
}

.about__text {
    font-size: 1rem;
    font-family: var(--main-font);
    margin: 0 15px 20px 15px;
    text-align: left;
    line-height: 1.5rem;
}


/*-------- PORTFOLIO THUMBS --------*/

.portfolio_item {
    position: relative;
    font-family: var(--heading-font);
    flex: 1;
    flex-basis: 360px;
    max-width: 360px;
    margin: 13px;
    /*border: var(--box-border);*/
    box-shadow: 5px 5px 15px #919191;
    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.08);*/
    font-size: 1.5em;
    line-height: 0;
    overflow: hidden;
    cursor: pointer;
}

.portfolio_item img {
    width: 100%;
    opacity: 0.95;
}

.portfolio_item__details {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: var(--main-colour-transparent);
    color: white;
    transition: all 0.3s ease-out;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.is_not_touch_device .portfolio_item__details {
    margin-top: 315px;
}

.is_not_touch_device .portfolio_item:hover .portfolio_item__details {
        margin-top: 0;
        height: 60%;
        padding: 20% 0;
    }

.portfolio_item__title {
    font-family: var(--heading-font);
    text-transform: lowercase;
    font-size: 1.5rem;
    margin: 20px 0;
}

.portfolio_item__p {
    font-family: var(--main-font);
    font-size: 1.5rem;
    line-height: 30px;
    font-weight: var(--main-font-weight);
    margin: 0 5px;
}

.portfolio_item__button {
    font-family: var(--main-font);
    background-color: var(--main-colour-transparent);
    color: white;
    padding: 20px;
    border: none;
    font-size: 1.5rem;
    margin: 50px 0;
    font-weight: var(--main-font-weight);
}


/*-------- PORTFOLIO THUMBS FOR TOUCH --------*/

.is_touch_device .portfolio_item__details {
    margin-top: 260px;
}

.is_touch_device .portfolio_item__title {
    font-family: var(--heading-font);
    text-transform: lowercase;
    font-size: 1.5rem;
    margin: 20px 0;
}

.is_touch_device .portfolio_item__button {
    font-family: var(--main-font);
    background-color: var(--main-colour-transparent);
    color: white;
    padding: 20px;
    border: none;
    font-size: 1.5rem;
    margin: 5px 0 50px 0;
}

.is_touch_device .portfolio_item__p {
    display: none;
}

/*-------- PORTFOLIO PAGES --------*/

.portfolio_pages {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
}

.portfolio_overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.60);
}

.portfolio_preview {
    text-align: center;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: 10vh;
    max-width: 1050px;
    height: 80vh;
    background-color: var(--main-background);
    border: 3px solid var(--main-colour-200);
    overflow-y: scroll;
    overflow-x: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.08);
}

.portfolio__exit {
    position: absolute;
    top: 20px;
    right: 20px;
    height: 20px;
    width: 20px;
    cursor: pointer;
    padding: 5px;
}

.portfolio__exit img {
    width: 100%;}

.portfolio__link a {
    color: black;
    font-size: 1rem;
    margin-top: 0;
}

.title_bottom {
    border-bottom: 2px solid var(--main-colour-200);
    width: 60%;
    height: 0;
}

.portfolio__content {
    display: flex;
    max-width: 950px;
    margin: 0 50px;
    flex-wrap: wrap;
}

.portfolio__section {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 20px;
}
.portfolio__images {
    width: 400px;
    flex-basis: 400px;
    flex-grow: 1;
}

.portfolio__images img {
    width: 100%;
    margin-bottom: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.08);
}

.split_images {
    display: flex;
    justify-content: space-between;
}

.split_images img {
    width: 49%;
    height: 100%;
}

.portfolio__text {
    text-align: left;
    display: inline-block;
    flex-grow: 1;
    width: 550px;
    flex-basis: 450px;
    margin-right: 25px;
}


/*-------- MEDIAQUERIES --------*/

@media only screen and (max-width: 1250px) {
    .page_heading {
        margin: 40px 25px 40px 25px;
    }
}

@media only screen and (max-width: 1100px) {
    .portfolio_preview {
        margin: 4vh;
        height: 83vh;
    }

    .portfolio__content {
        margin: 0 20px;
    }

    .portfolio__exit {
        top: 10px;
        right: 10px;
        height: 15px;
        width: 15px;
    }
}

@media only screen and (max-width: 950px) {
    .portfolio__text {
        margin-right: 0;
    }
}

@media only screen and (max-width: 853px) {
    .frontpage_title {
        font-size: 3rem;
        line-height: 3rem;
    }
}

@media only screen and (max-width: 643px) {
    .frontpage {
        margin-top: 30vh;
    }

    .frontpage_title {
        font-size: 2rem;
        line-height: 2rem;
    }

    .frontpage__button {
        font-size: 1.3rem;
    }
}

@media only screen and (max-width: 530px) {
    h1 {
        font-size: 2rem;
    }
}

@media only screen and (max-width: 430px) {
    .frontpage_title {
        font-size: 1.5rem;
        line-height: 1.5rem;
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 410px) {
    .page_title a {
        font-size: 2rem;
        line-height: 2rem;
    }
    h1 {
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 380px) {
    .is_touch_device .portfolio_item__details {
        margin-top: 235px;
    }
}

@media only screen and (max-width: 350px) {
    .is_touch_device .portfolio_item__details {
        margin-top: 200px;
    }
}

/*-------- HELPERS --------*/

.hidden {
    display: none;
}

.hide_overflow {
    position: fixed;
    overflow-y: scroll;
}
